body {
    margin: 0 auto;
    padding: 0vh;
    background-color: #cae5e1;
}

.wrapper{
    margin: 0 auto;
    width: 60%;
}

.h1{
    text-align: center;
}

input[type=radio] {
    display: none;
}

.container{
    margin: 1vh 0vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container .div_img {
    margin: 0 auto;
    height: 0;
    font-family: arial;
    color: rgba(0, 0, 0, 0);
    line-height: 1vh;
    box-sizing: border-box;
    transition: color 0.5s, padding 0.5s;
    overflow: hidden;
    font-size: 110%;
}

.div_img{
    transform: scale(0.4);
}

.div_img :checked {
    transition: 0.7s;
    transform: scale(0.4);
}

.container label {
    cursor: pointer;
    display: block;
    width: 100%;
    color: #1277c9;
    font-weight: bold;
    font-family: Arial;
    font-size: 125%;
    transition: color .5s;
}

.container label:hover {
    color: rgb(47, 42, 213);
}

.container input:checked + label {
    color: rgb(0, 16, 118);
}

.container input:checked{
    transform: scale(1);
    transition: .5s;
}

.container input:checked + label + .div_img {
    height: auto;
    color: rgb(7, 0, 111);
    transition: 0.7s;
    transform: scale(1);
}

.container input:hover + label + .div_img {
    height: auto;
    color: rgb(7, 0, 111);
    transform: scale(1, 1);
    transition: .7s;
}
.div_img:hover{
    height: auto;
    color: rgb(7, 0, 111);
    transform: scale(1, 1);
    transition: .7s;
    cursor: pointer;
}

.container{
    cursor: pointer;
}
